*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: smoke whitesmoke;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    background-color: rgb(204, 204, 204);
}
.section1 h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section1 h4{
    font-size: 20px;
    color: rgb(100, 99, 99);
    margin-bottom: 20px;
}
.book-table{
    padding: 15px 30px;
    background-color: red;
    border-radius: 20px;
    border: none;
    color: white;
}
.Watch-video{
    background-color: transparent;
    border: none;
    font-size: 20px;
}
.section1 img{
    height: 400px;
    width: 400px;
}
.section1-button-div{
    display: flex;
    gap: 50px;
}
.section2{
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info1{
    display: flex;
    gap: 70px;
}
.info1-1 img{
    height: 5in;
    width: 6in;
    margin-bottom: 20px;
}
.info1-1 button{
    width: 6in;
    border-width: 2px;
    font-size: xx-large;
    background-color: white;
}
.info1-2 img{
    height: 3in;
    width: 4in;
}